.login-form{
    display: column;
    width: 100%;
}

.post-input{
    width: 90%;
    margin-left: -10px;
}

.inline-login{
    width: 93%;
    margin-top: 3px;
}

.forgot-or-create{
    display: flex;
    flex-direction: column;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .post-input{
        width: 35%;
        margin-left: 0px;
    }
    .form-login{
        flex-direction: row;
    }
    .forgot-or-create{
        justify-content: space-between;
        flex-direction: row;
    }
    .inline-login{
        margin-top: 0px;
        width: 20%;
        height: 42px;
    }
}