.footer{
    justify-content: center;
    height: 9rem;
    flex-direction: column;
    display: flex;
    border-top: 1.5px solid var(--gray);
    background-color: var(--lightGray);
    align-items: center;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright>p{
    font-weight: 400;
}

.links>a{
    font-size: 18px;
    padding: 0px 5px;
    font-weight: 400;
}