.navbar{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.social{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.fixed-top{
    position: fixed;
    right: 20px;
    z-index: 2;
}

.fill-space{
    width: 200px;
}

.logo-image{
    display: none;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

@media screen and (min-width: 729px) {
    .logo-image{
        display: flex;
    }
    .logo{
        display: none;
    }
}